<div class="order-row footer">
    <div class="order-col">ИТОГО</div>
    <div class="order-col"></div>
    <div class="order-col">{{  amountSum }}</div>
    <div class="order-col">${{ orderSum }}</div>
</div>
</div>