<div class="order-container">
    <div class="order-row">
        <div class="order-col header-row">
            &nbspЗАКАЗ&nbsp {{ orderId }} &nbsp( {{ orderUserName }} )&nbsp {{ subString | raw}}
        </div>
        <div class="order-col header-row">цена за шт.</div>
        <div class="order-col header-row">штук</div>
        <div class="order-col header-row">итого</div>
    </div>